include section-photos
include section-timelapse
include section-quote
include section-text
include section-maps

mixin day(current_day)
  - var date = current_day.date
  - var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
  - var bgUrl = null
  - var index = 0;

  if(current_day.featured != undefined)
    - bgUrl = current_day.featured.url;

  article.section(data-bg=bgUrl)
    header
      p
        time=date.getDate() + ' ' + monthNames[date.getMonth()]
      h2=current_day.city

    .section-list
      for p in current_day.posts
        - index = index + 1
        case p.type
          when "quote": +section-quote(p.data)
          when "photo": +section-photos(p.data,p.id)
          when "link": +section-maps(p.data)
          default: +section-text(p.data)
      if current_day.timelapse.length >= 2
        +section-timelapse(current_day.timelapse)
      //+section-maps("https://docs.google.com/uc?authuser=0&id=0BwhQUtcfqZI4dlFjeGJVa3J4OU0&export=download")
