include section-photos
include section-timelapse
include section-quote
include section-text

mixin day(current_day)
  - var date = current_day.date
  - var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
  - var bgUrl = ''

  if(current_day.featured != undefined)
    - bgUrl = current_day.featured.url;

  article.section(data-bg=bgUrl)
    header
      p
        time=date.getDate() + ' ' + monthNames[date.getMonth()]
      h2=current_day.city

    .section-list
      for p,index in current_day.posts
          case p.type
            when "quote": +section-quote(p.data)
            when "photo": +section-photos(p.data,index)
            default: +section-text(p.data)
      if current_day.timelapse.length >= 2
        +section-timelapse(current_day.timelapse)
  
