include section-photos
include section-timelapse

mixin day(current_day)
  - var date = current_day.date
  - var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
  article.section
    header
      p
        time=date.getDate() + ' ' + monthNames[date.getMonth()]
      h2=current_day.city

    .section-list
      for images in current_day.images
        +section-photos(images)
      +section-timelapse
