include section-photos
include section-timelapse

mixin day
  article.section
    header
      p
        time: Le 13 avril
      h2 Toulouse

    .section-list
      +section-photos
      +section-timelapse
