include day

extends layout

block content
  .mask-modal
  .material-design-hamburger
    button.material-design-hamburger__icon
      span.material-design-hamburger__layer

  ul#menu.menu.menu--off
    - for (var x = 0; x < days.length; x++)
      li(data-menuanchor="day-"+x): a.menu-link(href="#day-"+x) Day #{x}


  main(role="main")
    for current_day in days
      +day(current_day)
