mixin section-photos(post,index)
  section.photos
    h3 Pics of Day
    .gird-photos
      for pic in post
        .thumbnail
            a(href=pic.alt_sizes[0].url, data-lightbox="image-"+index): img(src=pic.alt_sizes[2].url)
