mixin section-timelapse(timelapses)
  section.timelapse
    .gird-photos
      .thumbnail 
        video(controls="controls")
          source(src=timelapses[0].video, type="video/mp4")
      .thumbnail
        h3 Timelapse Day
      .thumbnail 
        video(controls="controls")
          source(src=timelapses[1].video, type="video/mp4")
