mixin section-video(post, vidNum)
  section.video
    h3 Video time
    ul.gird-photos
      li.thumbnail.video-play(data-html="#vid"+vidNum)
        a(href="#"): img(src=post.preview)
        
      div(style="display:none;", id="vid"+vidNum)
        video(, controls)
          source(src=post.video)

